/* ADMIN */
.admin-page {
  /* padding-top: 24px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d7272f;
  color: white;
  height: 774px;
  font-weight: bold;
}

.p-admin {
  color: "#328FD4";
  font-weight: "bolder";
}

.avatar-container {
  margin: 16px;
}

#user-name {
  color: "#F3CA03";
}

.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart-box {
}
