/* FONTS */


/* LAYOUT */

#container-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  padding: 0px;
  padding: 0px;
}

#navbar { 
  /* border: 2px solid red; */
  min-height: 100px;
  width: 100%;
  box-shadow:0px 6px 3px rgba(0,0,0,.5);
  border:0px;
}

#content-wrap {
  /* border: 2px solid purple; */
  /* border:0px; */
  background-color: maroon;
  width: 100%;
  margin: 0px;
  padding: 0px;
  /* min-height: 770px; */
}

#content-main {
  /* border: 2px solid blue; */
  border:0px;
  margin: 0px;
  padding: 0px;
  background-color: #D7272F;
  width: 100%;
  height: 772px;
  padding-bottom: 30px;
}

#footer {
  /* border: 2px solid yellow; */
  background-color: black;
  width: 100%;
  height: 70px;
  text-align: center;
}

/* CONSTANTS */

.AmaranthRedBackG {
  background-color: #D7272F;
}

.GoldWebGoldenBackG {
  background-color: #FFD700;
}

.WhiteBackG {
  background-color: #FFFFFF;
}

.BlackBackG {
  background-color: #000000;
}

.AmaranthRedFontC {
  color: #D7272F;
}

.GoldWebGoldenFontC {
  color: #FFD700;
}

.WhiteFontC{
  color: #FFFFFF;
}

.BlackFontC {
  color: #000000;
}