.customer-rewards-page {
}

.rewards-header {
  font-weight: 900;
  margin-bottom: 32px;
}

.rewards-title {
  font-weight: 900;
  padding-bottom: 16px;
}

.cust-rewards-cards {
  margin: 16px 8px 16px 8px;
  padding: 24px;
  color: white;
  background-color: black;
  border: solid 3px #FFD700;
  border-radius: 5px;
  box-shadow: rgba(43, 5, 5, 0.5) 0px 3px 8px;
 }

 .cash-or-cost {
   background-color: #D7272F;
   padding: 16px;
   margin: 32px 0 8px 0;
   font-weight: 600;
   border-radius: 5px;
   cursor: pointer;
 }

 .cash-or-cost a {
   color: white;
   text-decoration: none;
 }

 .cash-or-cost.cant-afford {
  cursor: not-allowed;
}

.red-button {
  background-color: #D7272F;
  color: white;
  padding: 0;
  border: none;
  border-radius: 8px;
  width: 80%;
  height: 40px;
  font-weight: 900;
  font-size: large;
  box-shadow: rgba(139, 129, 175, 0.3) 0px 4px 6px -.5px, rgba(6, 241, 45, 0.3) 0px 2px 4px -1px;
  margin-bottom: 32px;
}