/* DASHBOARD */

.wallet-page {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 3px solid purple; */
  margin: none;
  min-height: 800px;
}

.container-md-query-dash {
  padding: 10px 25px 0 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  background-color: #ffffff;
  border-radius: 10px;
  height: 700px;
  width: 90%;
  overflow-y: scroll;
}

.container-md-query-dash::-webkit-scrollbar {
  display: none;
}

.punchContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 500px;
}

.searchCard {
  width: 400px;
  display: flex;
  justify-content: space-around;
  padding: 8px 0;
}

.nameCol {
  align-items: center;
  padding: 5%;
}

.nameCol1 {
  text-align: center;
}

.wallet-restaurant-name {
  color: white;
  font-weight: 1000;
}

.points {
  color: white;
  font-weight: 800;
}

.dropdownRow {
  display: flex;
  overflow: hidden;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  width: 25%;
  height: 30px;
  justify-content: space-around;
  align-items: center;
  color: #d7272f;
}

.blahblah {
  display: flex;
  padding-top: 8px;
  width: 100%;
  justify-content: flex-end;
}

.dash-header {
  padding-bottom: 18px;
  width: 400px;
  background-color: #d7272f;
  border-radius: 5px;
}

.searchbar {
  width:285px;
}


@media screen and (max-width: 800px) {
  .container-md-query-dash {
    color: #ffffff;
    background-color: #d7272f;
  }
  .searchCard {
    width: 366px;
  }
  .dash-header {
    margin: 0;
    width: 200px;
  }

}
