@media screen and (min-width:600px){
  .earn-page {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d7272f;
    margin: 0;
    min-height: 772px;
  }
  .container-media-query-earn {
    padding: 10px 25px 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    background-color: #ffffff;
    border-radius: 10px;
    height: 700px;
    width: 90%;
    overflow-y: scroll;
  }
  .container-media-query-earn::-webkit-scrollbar {
    display: none;
  }
  .points-img-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
  }
  
  .topbun {
    margin: none;
    width: 45%;
  }
  
  .earn-points {
    font-size:80px;
    font-weight: 900;
  }
  
  .bottombun {
    width: 46%;
  }
}

.earn-page {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 772px;
}


.earn-h1 {
  font-weight: 900;
  
}

.points-img-container {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 36px;
}

.topbun {
  margin: none;
  width: 55%;
}

.earn-points {
  font-size:40px;
  font-weight: 900;
}

.bottombun {
  width: 56%;
}

.link-button {
  margin-bottom: 64px;
}

.earn-button {
  background-color: #FFD700;
  color: #D7272F;
  padding: 0;
  border: none;
  border-radius: 8px;
  width: 80%;
  height: 40px;
  font-weight: 900;
  font-size: large;
  box-shadow: rgba(139, 129, 175, 0.3) 0px 4px 6px -.5px, rgba(6, 241, 45, 0.3) 0px 2px 4px -1px;
}


hr.rounded {
  border-top: 8px solid;
  border-radius: 5px;
  width: 95%;
  margin-bottom: 54px;
}