.edit-user-page {
  margin: 0;
  padding-top:24px;
  min-height: 766px;
}

.default-editpage{
  Background-color: white;
  min-height: 82vh;
  margin: 16px 24px 0 24px;
}

.update-profile-button {
  background-color: #D7272F;
  color: white;
  padding: 0;
  border: none;
  border-radius: 8px;
  width: 90%;
  height: 40px;
  font-weight: 900;
  font-size: large;
  margin-top: 25px;
  box-shadow: rgba(139, 129, 175, 0.3) 0px 4px 6px -.5px, rgba(6, 241, 45, 0.3) 0px 2px 4px -1px;
}