.carousel-item {
  height: 40vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.buttons.group{
  height: 50px;
}

@media (min-width: 1200px) {
  .container{
      max-width: 970px;
  }
}