/* LOGIN PAGE*/

.login-page {
  min-height: 62vh;
  margin: 0px 25px 0 25px;
}

.login-header {
  font-size: large;
  margin: 30px 0 40px 0;
  font-weight: bolder;
}

.loyal-burger-header {
  font-size: xx-large;
  color: #D7272F; 
}

.button-group {
  margin: 30px 0 35px 0;
}

.yellow-button {
  background-color:#F3CA03;
  color: white;
  border: none;
  border-radius: 3px;
  width: 50%;
  height: 30px;
}

.white-button {
  background-color:white;
  border: solid 1px lightgrey;
  border-radius: 3px;
  width: 50%;
  height: 30px;
}

.remember-forget {
  appearance: none;
  display: flex;
  justify-content: space-between;
  font-size: small;
  color: gray;
  padding:8px;
  margin-bottom:40px
}

.buttoncontainer {
  height: 25px;
}
