/* LOGIN PAGE*/


@media screen and (min-width:600px){
  .login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d7272f;
    margin: 0;
    min-height: 772px;
  }
}

@media screen and (min-width:600px){
  .container-media-query {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    /* border: 3px solid blue; */
    width: 50%;
    height: 700px;
    background-color: white;
  }
}

.default-page {
  background-color: white;
  height: 700px;
  margin: 16px 24px 0 24px;
}

.login-header {
  font-size: large;
  margin: 30px 0 40px 0;
  font-weight: bolder;
}

.loyal-burger-header {
  font-size: xx-large;
  color: #d7272f;
}

.button-group {
  margin: 30px 0 35px 0;
}

.yellow-button {
  border: none;
  border-radius: 3px;
  width: 50%;
  height: 30px;
  font-weight: bold;
}

.white-button {
  background-color: white;
  border: solid 1px lightgrey;
  border-radius: 3px;
  width: 50%;
  height: 30px;
}

.remember-forget {
  appearance: none;
  display: flex;
  justify-content: space-between;
  font-size: small;
  color: gray;
  padding: 8px;
  margin-bottom: 40px;
}

.buttoncontainer {
  height: 24px;
  margin-bottom: 24px;
}
