/* LOGIN PAGE*/

.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 3px solid purple; */
  background-color: #d7272f;
  margin: 0;
  min-height: 772px;
}

.container-media-query {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  /* border: 3px solid blue; */
  width: 50%;
  height: 700px;
  background-color: white;
}

.default-page {
  /* border: 3px solid pink; */
  background-color: white;
  width: 70%;
  height: 600px;
  margin: 16px 24px 0 24px;
}

.login-header {
  font-size: large;
  margin: 30px 0 40px 0;
  font-weight: bolder;
}

.loyal-burger-header {
}

.button-group {
  margin: 30px 0 35px 0;
}

.yellow-button {
  border: none;
  border-radius: 3px;
  width: 50%;
  height: 30px;
  font-weight: bold;
}

.white-button {
  background-color: white;
  border: solid 1px lightgrey;
  border-radius: 3px;
  width: 50%;
  height: 30px;
}

.remember-forget {
  appearance: none;
  display: flex;
  justify-content: space-between;
  font-size: small;
  color: gray;
  padding: 8px;
  margin-bottom: 40px;
}

.buttoncontainer {
  height: 24px;
  margin-bottom: 24px;
}
