.nav-items {
  display:flex;
  font-size: smaller;
  margin-left: 4px;
}

.nav-hr {
  color: #D7272F;
  border-top: 2px solid;
  border-radius: 5px;
  width: 60%;
  margin: auto;
  margin-bottom: 8px;
}

#icon-margin{
  margin-left: 1.5em;
}