

.nav-items {
    display:flex;
    font-size: smaller;
    margin-left: 8px;
    padding-bottom: 8px;
}

.nav-hr {
    color: #D7272F;
    border-top: 2px solid;
    border-radius: 5px;
    width: 60%;
    margin: auto;
    margin-bottom: 8px;
}


.row.GridRow {
  padding: 0px;
  border: 0px;
  margin: 0px;
  height: 50px;
}

@media (min-width: 1200px) 
    {   
        .nogutter .span3
        {
            margin-left: 0px; width:300px;
        }   
    }
    @media (min-width: 980px) and (max-width: 1199px) 
    { 
        .nogutter .span3
        {
            margin-left: 0px; width:240px;
        }   
    }
    @media (min-width: 768px) and (max-width: 979px) 
    { 
        .nogutter .span3
        {   
            margin-left: 0px; width:186px;
        }   
    }