/* PROFILE */

.profile-page {
  margin: 0;
  padding-top:24px;
  min-height: 766px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #D7272F;
}

.inner-profile {
  width:60%;
  height:75%;
  /* display: flex;
  flex-direction: column;
  align-items: flex-start; */
}

.avatar-and-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #D7272F; */
  text-align: center;
  margin-bottom: 40px;
}

.profile-name {
  /* color: white !important;  */
  color: #D7272F;
  font-weight: bolder ;
  padding: 16px 0 2px 0 ;
}

.profile-account-type {
  /* color: white; */
}

.update-user-form {
  width: 500px;

}

.up-button-container {
  text-align:center;
}

.update-profile-button {
  /* background-color: #D7272F;
  color: white; */
  text-align:center;
  padding: 0;
  border: none;
  border-radius: 8px;
  width: 90%;
  height: 40px;
  font-weight: 900;
  font-size: large;
  margin-top: 25px;
  box-shadow: rgba(139, 129, 175, 0.3) 0px 4px 6px -.5px, rgba(6, 241, 45, 0.3) 0px 2px 4px -1px;
}

.add-punchcard-button {
  padding: 0;
  border: none;
  border-radius: 8px;
  width: 20%;
  height: 30px;
  font-weight: 900;
  font-size: medium;
  box-shadow: rgba(139, 129, 175, 0.3) 0px 4px 6px -.5px, rgba(6, 241, 45, 0.3) 0px 2px 4px -1px;
  margin-bottom: 8px;
}

.password-update {
  padding: 0;
  border: none;
  border-radius: 8px;
  width: 35%;
  height: 30px;
  font-weight: 900;
  font-size: medium;
  box-shadow: rgba(139, 129, 175, 0.3) 0px 4px 6px -.5px, rgba(6, 241, 45, 0.3) 0px 2px 4px -1px;
  margin-bottom: 8px;
  
}