.page {
  min-height: 62vh;
  margin: 24px;
  
}

#register-header {
  margin-bottom: 24px;
  text-align: left;
  font-size: xx-large;
  color: #D7272F; 
  font-weight: bolder;
}

#yellow-contact-button {
  margin-top: 16px;
  background-color:#F3CA03;
  color: white;
  border: none;
  border-radius: 3px;
  width: 25%;
  height: 30px;
  font-weight: 600;
}
