/* Search Page */

.search-page {
  display: flex;
  justify-content: center;
  /* border: 3px solid purple; */
  margin: 0;
  min-height: 800px;
}

.container-md-query-search {
  padding: 10px 25px 0 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  background-color: #ffffff;
  border-radius: 10px;
  height: fit-content;
  width: 90%;
}

.container-md-query-search::-webkit-scrollbar {
  display: none;
}

.search-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
}

.card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.searchCard {
  width: 400px;
  display: flex;
  justify-content: space-around;
  padding: 8px 0;
  color: white;
  height: 150px;
  @media screen and (max-width: 600px) {
    width: 50%;
  }
  /* border-radius: 8px; */
}

.nameCol {
  align-items: center;
  /* padding: 5%;   */
}

.dropdown_row {
  display: flex;
}

.dropdown {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0 !important;
}

.dropdown_container {
  display: flex;
  justify-content: flex-end;
}

.restname {
  color: white;
  font-weight: 1000;
}

.avatardiv {
  display: flex;
  padding-bottom: 5px;
  padding-left: 10px;
}

.card_body {
  display: flex;
  align-items: center;
  text-align: center;
  width: 150%;
  height: 100%;
  overflow: hidden;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  justify-content: space-around;
  background-color: black;
}

.container_card_div {
  display: flex;
  flex-direction: row;
  height: 100%;
  text-align: center;
}

.dropdownRow1 {
  display: flex;
  /* border-radius: 10px; */
  overflow: hidden;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  width: 50%;
  height: 30px;
  justify-content: space-around;
  align-items: center;
  color: #d7272f;
}

.blahblah1 {
  display: flex;
  padding-top: 5px;
  width: 100%;
  justify-content: flex-end;
}

.search-header2 {
  display: block;
  padding-top: 24px;
  padding-bottom: 18px;
  width: 325px;
  border-radius: 5px;
}
.search-header {
  display: none;
}

@media screen and (max-width: 800px) {
  .container-md-query-search {
    color: #ffffff;
    background-color: #d7272f;
  }
  .searchCard {
    width: 366px;
  }
  .search-header2 {
    display: none;
  }
  .search-header {
    display: block;
    padding-bottom: 18px;
    width: 190px;
    border-radius: 5px;
  }
}
