.juicy-burger {
  max-width: 100%;
}


/* 

.settings-page {
  justify-content: 'space-evenly';
  margin-top: "24px";
  border-bottom: "solid 3px white"
}

  .settings-tabs {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: blue;
  }

  .settings-tabs button{
    background-color: inherit;
    float: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }

  .tab button:hover {
    background-color: #ddd;
  }

  .tab button.active {
    background-color: #ccc;
  }

  .tabs {
    margin: 30px 0 35px 0;
  }

button.tablinks {
  border: none;
  border-radius: 3px;
  width: 50%;
  height: 30px;

} */


/* 
.white-button {
  background-color:white;
  border: solid 1px lightgrey;
  border-radius: 3px;
  width: 50%;
  height: 30px;
} */