.juicy-burger {
  max-width: 100%;
  border: solid 4px black;  
}

.burger-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.settings-page {
  background-color: #D7272F;
}

.sp-h2 {
  color: white;
  padding-top:16px;
  font-weight: 600;
}

.sp-page {
  /* display: flex;
  flex-direction:column;
  align-items: center; */
  text-align: center;
}

.edit-description {
  text-align:center;
  padding: 0 24px 24px 24px;

}

/* 
.white-button {
  background-color:white;
  border: solid 1px lightgrey;
  border-radius: 3px;
  width: 50%;
  height: 30px;
} */