.juicy-burger {
  max-width: 100%;
  border: solid 4px black;  
}

.burger-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.settings-page {
  display: flex;
  justify-content: space-around;
  background-color: #D7272F;
}

.sp-h2 {
  color: white;
  padding-top:16px;
  font-weight: 600;
}

.sp-page {
  text-align: center;
}

.edit-description {
  text-align:center;
  padding: 0 24px 24px 24px;

}

.settings-rewards-page {
  min-height: 70vh;
}

.rewards-edit-form {
  display: flex;
  flex-direction:column;
  align-items: center;
}

/* 
.white-button {
  background-color:white;
  border: solid 1px lightgrey;
  border-radius: 3px;
  width: 50%;
  height: 30px;
} */

.header_setting_container{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}